/* Navbar */

.navbarOrigin {
    width: 100%;
    background-color: black !important;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid darkorange;
    box-shadow: 0 0 5px darkorange;
}

/* Navbar Left*/

.navbar-left {
    width: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.logoImagen {
    padding-top: 7px;
    color: darkorange !important; 
    text-shadow: 0 0 10px darkorange !important;
    font-size: 35px;
    padding-left: 15px;
}

.logoImagen:hover {
    color: white !important;
} 

p {
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
}

/* Navbar Center*/

.navbar-collapse {
    text-shadow: 0 0 10px darkorange !important;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 0;
}

.navbar-nav li{
    padding: 20px;
}

.nav-link {
    color: darkorange !important;
}

.nav-link:hover {
    color: white !important;
}

/* Navbar Right*/

.navbar-right {
    color: darkorange !important;
    position: relative;
    cursor: pointer;
    padding-top: 10px;
    margin-left: 40px;
}

.logoShoppingCard {
    margin-top: 0;
    font-size: 35px;
    color: darkorange; 
    text-shadow: 0 0 10px darkorange;
}

.logoShoppingCard:hover {
    color: white;
}

.cardCounter { 
    width: 15px;
    height: 15px;
    background-color: darkorange;
    color: black;
    text-shadow: 0 0 10px #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 120px;
    background-color: black;
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
    padding: 30px;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
}

.none {
    background-color: black;
}

/* Main ItemListContainer */

.jumbotrom {
    margin: 0 !important;
    background-color: black !important;
    color: darkorange !important;
    text-shadow: 0 0 10px darkorange;
    border: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemListContainer {
    padding: 15px;
    height: auto;
    background-color: black !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Items Cards */

.card {
    margin: 20px;
    width: 250px;
    height: 250px;
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cardBodyMain {
    height: 450px;
}

.divImageMain {
    width: 249px;
    height: 250px;
    background-image: cover;
    border-bottom: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
}

.cardImgItem {
    height: 250px;
    width: 100%;
    background-image: cover;
}

.card:hover {
    color: white;
    text-shadow: 0 0 10px darkorange;
}

.ItemCount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    margin: 6px;
}

.amount {
    margin: 6px;
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
}

.btn-outline-danger {
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
    background-color: black;
    padding: 4px;
}

.btn-outline-danger:hover {
    color: white;
    text-shadow: 0 0 10px white;
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
}

/* Item Detail */

.detailContainer {
    height: auto;
    padding: 15px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.imageContainer img {
    width: 100%;
}

.contentContainer {
    width: 60%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.textDetail {
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
    padding: 10px;
    margin-bottom: 10px;
}

.dataDetail {
    margin-top: 10px;
}

/* Cart */

.cartMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding: 3px;
}

.cartMain h3 {
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
}

.buttons {
    width: 50%;
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.gameDetailContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cardInCart {
    width: 97% !important;
    display: flex !important;
    flex-direction: row !important;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
}

.divImage {
    width: 30%;
    background-image: cover;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
}

.cardImgCart {
    height: 100%;
}

.cardCartBody {
    width: 40%;
    background-color: black;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
}

.ShopSubDetail {
    height: auto;
    width: 30% !important;
    border: 1px solid greenyellow;
    background-color: black;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
}

.totalCart {
    padding: 10px;
    border: 1px solid darkorange;
    box-shadow: 0px 0px 10px darkorange;
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
    margin-bottom: 15px;
}

.space {
    padding: 8px;
}

.resume {
    text-decoration: underline;
}

/* Footer */

footer {
    height: auto;
    margin: 0;
    background-color: black;
    border-top: 1px solid darkorange;
    box-shadow: 0 0 5px darkorange;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: darkorange;
    text-shadow: 0 0 10px darkorange;
}

  .barra {
    padding-top: 15px;
  }
  
  .barra li {
    list-style: none;
  }
  
  .barra li:hover {
    color: white;
    text-shadow: 0 0 10px darkorange;
  }
  
  .footerRedes {
    font-size: 20px;
    letter-spacing: 15px;
  }
  
/*   .fa-brands {
    padding: 5px;
    border: 1px solid #000000;
    box-shadow: 0 0 5px #000000;
    border-radius: 32px;
    text-align: center;
    padding-left: 20px;
    color: #000000 !important;
  } */
  
/*   .footerRedes i:hover {
    background-color: #fff;
  } */
  